<template>
  <div class="flex flex-col items-center">
    <div class="">
      <Form @updatePrices="updatePrices" />
    </div>

    <div class="mx-20">
      <HistoricalQuotesTable v-if="prices" :prices="prices" />
      <HistoricalQuotesChart v-if="prices" :prices="prices" />
    </div>
  </div>
</template>
<script setup>
import { ref } from 'vue'

import Form from './components/Form.vue'
import HistoricalQuotesTable from './components/HistoricalQuotesTable.vue'
import HistoricalQuotesChart from './components/HistoricalQuotesChart.vue'

const prices = ref()

const updatePrices = (updatedPrices) => {
  prices.value = updatedPrices
  console.log(prices.value)
}
</script>
