<template>
  <div>
    <input type="text" id="search" placeholder="Search companies" v-model="companySymbol" @input="updateCompanies">
    <ul>
      <li v-for="company in companies" :key="company" @click="selectCompany(company)">
        - {{ company.Symbol }}
      </li>
    </ul>
  </div>
  <p v-if="selectedCompany">
    Selected company: {{ selectedCompany.Symbol }}
  </p>
</template>
<script setup>
import { ref } from 'vue'

const emit = defineEmits(["updateCompany"])
let companySymbol = ref('')
let companyName = ref('')
let selectedCompany = ref('')
let companies = ref([])

const selectCompany = (company) => {
  selectedCompany.value = company
  companyName.value = company["Company Name"]
  companySymbol.value = ''
  companies.value = []

  emit('updateCompany', selectedCompany.value)
}

const updateCompanies = async () => {
  let url = "http://localhost:3001/search?s=" + companySymbol.value

  const res = await fetch(url)
  const c = await res.json()

  companies.value = c
}
</script>
