<template>
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="company">
        Company Symbol
      </label>
      <AutoSelectVue @updateCompany="updateCompany" />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="start_date">
        Start Date
      </label>
      <vue-tailwind-datepicker :disable-date="disabledFromDate" :start-from="startFrom" :formatter="formatter" as-single
        placeholder="Start Date" v-model="startDateValue" />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="end_date">
        End Date
      </label>
      <vue-tailwind-datepicker :disable-date="disabledToDate" :formatter="formatter" as-single placeholder="End Date"
        v-model="endDateValue" @vnode-updated="checkEndDate" />

      <p class="text-red-500">{{ endDateError }}</p>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        v-model="email" type="email" placeholder="Email">
    </div>
    <button id="get_info" @click="getHistoricalQuotes"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Get Historical Quotes
    </button>

    <p class="mt-4 text-red-500">{{ formError }}</p>
    <p v-if="isLoading">Loading...</p>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import VueTailwindDatepicker from 'vue-tailwind-datepicker'
import AutoSelectVue from './AutoCompleteSelect.vue'

const isLoading = ref(false)
const emit = defineEmits(["updatePrices"])
const startDateValue = ref('')
const endDateValue = ref('')
const companySymbol = ref('')
const companyName = ref('')
const endDateError = ref('')
const email = ref('')
const formError = ref('')
const prices = ref()
const disabledFromDate = (date) => {
  return date >= new Date()
}
const disabledToDate = (date) => {
  return date >= new Date
}
const formatter = ref({
  date: "YYYY-MM-DD"
})

const updateCompany = (company) => {
  companySymbol.value = company.Symbol
  companyName.value = company["Company Name"]
}

const getHistoricalQuotes = () => {
  formError.value = ''

  if (companySymbol.value === '' || startDateValue.value === '' || endDateValue.value === '' || email.value === '') {
    formError.value = "All form fields are required"
  } else {
    generatePrices(startDateValue.value, endDateValue.value, companySymbol.value)
    sendEmail(companyName.value, email.value, startDateValue.value, endDateValue.value)
  }
}
const checkEndDate = () => {
  if (startDateValue.value > endDateValue.value) {
    endDateError.value = "The end date cannot be earlier than the start date."
    endDateValue.value = ''
  } else {
    endDateError.value = ''
  }
}

const generatePrices = (start, end, symbol) => {
  const url = "https://yh-finance.p.rapidapi.com/stock/v3/get-historical-data?symbol=" + symbol
  const headers = { "X-RapidAPI-Key": "e89f515cf8msha7077cbc96b33abp1abe46jsn62819c2f8051", "X-RapidAPI-Host": "yh-finance.p.rapidapi.com" }

  isLoading.value = true
  fetch(url, { headers })
    .then(response => response.json())
    .then((data) => {

      prices.value = data.prices.filter((price) => {
        const fromTimestamp = new Date(start).getTime() / 1000
        const toTimestamp = new Date(end).getTime() / 1000

        if (price.open && fromTimestamp <= price.date && toTimestamp >= price.date)
          return price
      }).map((price) => {
        price.date = new Date(price.date * 1000).toISOString().split('T')[0]
        price.open = price.open.toFixed(2)
        price.high = price.high.toFixed(2)
        price.low = price.low.toFixed(2)
        price.close = price.close.toFixed(2)
        price.volume = price.volume.toLocaleString("en-US");

        return price
      })

      isLoading.value = false
      emit('updatePrices', prices.value)
    })
}

const sendEmail = (companyName, email, start, end) => {
  const payload = {
    "companyName": companyName,
    "email": email,
    "start": start,
    "end": end
  }

  fetch("/sendEmail", {
    method: "POST",
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(payload)
  })
}
</script>
