<template>
  <table class="table-fixed">
    <thead>
      <tr>
        <th>Date</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Volume</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="price in prices" class="border-b-2">
        <td class="pr-6">{{ price.date }}</td>
        <td class="pr-6">{{ price.open }}</td>
        <td class="pr-6">{{ price.high }}</td>
        <td class="pr-6">{{ price.low }}</td>
        <td class="pr-6">{{ price.close }}</td>
        <td>{{ price.volume }}</td>
      </tr>
    </tbody>
  </table>
</template>

<script setup>
defineProps(['prices'])
</script>
