<template>
  <VueApexCharts height="350" type="candlestick" :options="chartOptions" :series="series">
  </VueApexCharts>
</template>

<script setup>
import VueApexCharts from 'vue3-apexcharts';
import { ref } from 'vue';

const chartOptions = ref({})
const series = ref([])
const props = defineProps(['prices'])
const prices = props.prices

chartOptions.value = {
  chart: {
    type: 'candlestick',
    height: 350
  },
  title: {
    text: 'CandleStick Chart',
    align: 'left'
  },
  xaxis: {
    type: 'datetime'
  },
  yaxis: {
    tooltip: {
      enabled: true
    }
  }
}

series.value = [{
  data: prices.map((price) => {
    return {
      x: new Date(price.date).getTime(),
      y: [price.open, price.high, price.low, price.close]
    }
  })
}]
</script>
